streamlit
pandas
numpy
gspread
gspread-pandas
google-auth-oauthlib
plotly
google-api-python-client
blinker
tenacity
xlsxwriter
openpyxl
opencv-python
pyzbar
supabase
gTTS==2.3.2
streamlit-webrtc
#st_audiorec
